:root {
    --soft-orange : hsl(35, 77%, 62%);
    --soft-red:  hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
    --Inter: 'Inter', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--Inter);
}

img {
    max-width: 100%;
}

.hidden {
    display: none;
}

.flex {
    display: flex
}

.grid {
    display: grid;
}

.main-container {
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    gap: 30px;
}

.container {
    width: fit-content;
}

.nav {
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}

.main-nav-logo-container {
    width: 50px;
    max-width: 65%;
    min-width: 50px;
}

.main-nav-desktop {
    gap: 40px;
    display: none;
}

.main-nav-desktop-item {
    list-style: none;
    display: none;
}

.main-nav-desktop-link {
    text-decoration: none;
    color: var(--dark-grayish-blue);
}

.nav-menu {
    position: fixed;
    flex-direction: column;
    top: 0px;
    right: 0px;
    background-color: white;
    width: 70%;
    max-width: 300px;
    height: 100%;
    padding: 5vw;
    padding-top: 30px;
    display: none;
}

.menu-close-container {
    align-self: flex-end;
}

.main-nav-mobile {
    margin-top: 80px;
    padding-inline-start: 0px;
    flex-direction: column;
    gap: 25px;
}

.main-nav-mobile-item {
    list-style: none;
}

.main-nav-mobile-link {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}

.sec-one {
    grid-template-columns: 1fr;
    gap: 20px;
}

.sec-one-pri-text {
    font-size: 3rem;
    color: var(--very-dark-blue);
    line-height: 3rem;
    font-weight: 700;
}

.sec-one-sec-text {
    color: var(--dark-grayish-blue);
    font-size: 1rem;
    line-height: 1.75rem;
}

.sec-one-btn > a {
    text-decoration: none;;
}




























































.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
     color: hsl(228, 45%, 44%);
}